ul, li {
  margin: 0;
  padding:0;
  list-style: none;
}

#root {
  max-width: 1200px;
  margin: auto;
}

.grid-container {
  display: grid;
  gap: 16px; /* Spacing between grid items */
}
.grid-column {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 4px;
}
.column-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}
.row {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 4px;
}




.container h1 {
  text-align: center;
}


.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  border: 2px solid transparent;
  border-bottom: none;
  transition: all 0.3s ease;
  border-radius: 0;
  margin-right: 5px;
}

.tab:hover {
  color: #007bff;
  border-color: #ddd;
}

.tab.active {
  color: #fff;
  background: #007bff;
  border: 2px solid #007bff;
  border-bottom: none;
}

.monthly-details {
  display: flex;  
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}

.monthly-details h2{
  width: 100%;
}

.monthly-details .row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}